---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="CV" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">CV</div>
  </div>

  <div class="mb-10 text-justify">
 For a more comprehensive resume or CV, please connect and reach out on LinkedIn! 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Product Manager at Wing"
      subtitle="From 11/22 to Present, Remote"
    >
    Architected and Launched Wing's drone delivery airspace software: Built software tools ensuring compliant operations enabling rapid expansion across the Dallas metro area and Australia.
    <br>
    Scaled delivery reach by 75%: With these new tools, Wing has expanded service area, opening access to <a href="https://blog.wing.com/2024/01/wing-and-walmart-expand-service.html">thousands of new customers.</a> 
    </TimeLineElement>
    <TimeLineElement
      title="Engineer and Product Manager at Dephy"
      subtitle="From 3/2020 to 11/2022, Maynard, MA"
    >
      Early employee of a wearable robotics startup.  <br>
      Developed data analysis software: Improved AI algorithms for exoskeleton gait detection and augmentation, achieving ~99% accuracy. <br>
      Secured $1M+ funding: Spearheaded military product development with Army & Airforce for next-gen exoskeletons. <br>
      Helped generate significant revenue: Led a customer-facing product line, enabling rapid wearable robotics research adoption.
    </TimeLineElement>
    <TimeLineElement
      title="Research Engineer (Products and Biomechanics) at the U.S. Army"
      subtitle="From 6/2015 to 3/2020, Natick, MA"
    >
    Engineer, researcher, and program manager developing next generation products for the soldier and understanding their impact on human performance. Promoted 3 times from GS-9 to GS-12 over my tenure.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
    title="PhD Biomedical Engineering (incomplete)"
    subtitle="University of Connecticut"
  />
    <TimeLineElement
      title="M.S. Biomedical Engineering"
      subtitle="University of Connecticut"
    />
    <TimeLineElement
      title="B.S. Biomedical Engineering"
      subtitle="University of Connecticut"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      U.S. Secret Security Clearance (2013 - 2020)
    </li>
    <!--<li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li> -->
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Product Management</li>
    <li>Program Management</li>
    <li>User Experience</li>
    <li>Computer Science</li>
    <li>Responsible AI</li>
    <li>Matlab, Python, R, SQL</li>
    <li>C</li>
    <li>Technical Presentations</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Patents</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Mooney, L., J.F. Duval, R. Harris, J.T. Kaplan. Real-Time Feedback-Based Optimization of an Exoskeleton. U.S. Patent No. 17,136,333, 2021.</li>
    <li>Mooney, L., J.F. Duval, R. Harris, J.T. Kaplan, M. Mooney, W. Marvin. Customized Configuration for an Exoskeleton Controller. U.S. Patent No. 11,148,279, 2021.</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Peer Reviewed Publications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Kaplan, J.T., J.W. Ramsay, S.E. Cameron, K.D. Seymore, M. Brehler, G. Thawait, W. Zbijewski, J.H. Siewerdsen, T.N. Brown. Association between Knee Anatomical Metrics and Biomechanics for Males Landing with Load. The American Journal of Sports Medicine, 48(6), 1389-1397, 2020.</li>
    <li>Luu, B., E.A. Cronauer, V. Gandhi, J.T. Kaplan, D.M. Pierce, M. Upadhyay. A Finite Element Approach for Locating the Center of Resistance of Maxillary Teeth. Journal of Visualized Experiments, (158), e60746, 2020.</li>
    <li>Auerbach, M., J.W. Ramsay, P. D’Angelo, S.E. Cameron, G. Proulx, J.T. Kaplan, M. Coyne. Next Generation Test Forms for Testing in Fire Simulations. Homeland Security and Public Safety: Research, Applications and Standards, 2019.</li>
    <li>Kaplan, J.T., Argote, P.F., A. Poon, X. Xu, L. Cai, N.C. Emery, D.M. Pierce, C.P. Neu. Chondrocyte Viability is Lost During High-Rate Impact Loading by Transfer of Amplified Strain, but not Stress, to Pericellular and Cellular Regions, Osteoarthritis and Cartilage, 27(12):1822, 1830, 2019.</li>
    <li>M. Brehler, G. Thawait, J.T. Kaplan, J.W. Ramsay, M.J. Tanaka, S. Demehri, J.H. Siewerdsen, W. Zbijewski. Atlas-Based Algorithm for Automatic Anatomical Measurements in the Knee. Journal of Medical Imaging, 6(2), 026002, 2019.</li>
    <li>Brown, T.N., J.T. Kaplan, S. Cameron, K. Seymore, J.W. Ramsay, Individuals with Varus Thrust do not Increase Knee Adduction when Running with Body Borne Load, Journal of Biomechanics, 69:97-102, 2018.</li>
    <li>Seymore, K., S. Cameron, J.T. Kaplan, J.W. Ramsay, T.N. Brown, Dual-Task and Anticipation Impact Lower Limb Biomechanics During a Single-Leg Cut with Body Borne Load, Journal of Biomechanics, 65:131-137, 2017.</li>
    <li>Kaplan, J.T., C.P. Neu, H. Drissi, N.C. Emery, D.M. Pierce, Cyclic Loading of Human Articular Cartilage: The Transition from Compaction to Fatigue, Journal of the Mechanical Behavior of Biomedical Materials, 65(0):734-742, 2017.</li>
  </ul>


</BaseLayout>
